# Spotify Developer Credentials
# 1. Create an app at https://developer.spotify.com/dashboard
# 2. Add Redirect URI: http://127.0.0.1:8888/callback (or http://localhost:8888/callback)
# 3. Paste your Client ID and Client Secret below:

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
